$black: #000000;
$white: #ffffff;
$orange: #e55120;

$primaryBgColor: #ffffff;
$primaryColor: $black;

$fontPrimary: 'Roboto', sans-serif;

$primaryWF: 400;

$fsH1Title: 100px;
$fsH2Title: 35px;
$fsH3Title: 25px;
$fsH4Title: 22px;
$fsH5Title: 20px;
$fsH6Title: 17px;
$fsPrimary: 17px;
$lhPrimary: 1.588;

$screen-large: 1024px;
$screen-medium: 768px;
$screen-small: 576px;

$widthContent: 1200px;

$gutterSize-x: 30px;

$btnFs: 20px;
$cprtFs: 16px;
